NodeRed Files/FlowsFile.json
[{"id":"b697faca.f6e5f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1c1566c1.710a09","type":"serial in","z":"b697faca.f6e5f8","name":"","serial":"e52026b3.a29158","x":160,"y":140,"wires":[["f1edd90.0a6f528","dd0030c9.58077"]]},{"id":"f1edd90.0a6f528","type":"function","z":"b697faca.f6e5f8","name":"","func":"k=msg.payload.split(\",\");\nmsg.voltage=k[0];\nmsg.current1=k[1];\nmsg.power=k[2];\nmsg.energy=k[3];\nmsg.frequency=k[4];\nmsg.pf=k[5];\nmsg.rssi=k[6];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":140,"wires":[["f0428e71.6769b","ed3b242d.59ebe8","ac24a088.14e9a","4759f746.8cc508","fe9a1bd7.2ce938","26ea5360.61148c","1b70c673.98a1ca","8af38b2a.fcac58","688d6e45.fb2c5","4647b9dc.c4f648","302d9a7.f675466","43deef6c.183c4","15a60a25.c65a46","14785d8a.05c922","26d5dff0.d715c","eb55bbb4.04eb58","4bfa881b.3c8568","26ad820.dd9397e","ad344bcd.459a98"]]},{"id":"f0428e71.6769b","type":"ui_gauge","z":"b697faca.f6e5f8","name":"","group":"c380ac9d.4109a","order":3,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"V","format":"{{msg.voltage}}","min":"80","max":"260","colors":["#00b500","#00b500","#ca3838"],"seg1":"200","seg2":"240","x":650,"y":80,"wires":[]},{"id":"ed3b242d.59ebe8","type":"ui_gauge","z":"b697faca.f6e5f8","name":"","group":"c380ac9d.4109a","order":1,"width":0,"height":0,"gtype":"gage","title":"Current","label":"A","format":"{{msg.current1}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":140,"wires":[]},{"id":"ac24a088.14e9a","type":"ui_gauge","z":"b697faca.f6e5f8","name":"","group":"c380ac9d.4109a","order":2,"width":0,"height":0,"gtype":"gage","title":"Power","label":"W","format":"{{msg.power}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":200,"wires":[]},{"id":"26ad820.dd9397e","type":"debug","z":"b697faca.f6e5f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"rssi","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":260,"wires":[]},{"id":"1f7d452b.81121b","type":"ui_chart","z":"b697faca.f6e5f8","name":"","group":"6799256b.66a85c","order":4,"width":0,"height":0,"label":"Energy Consumption","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":320,"wires":[[]]},{"id":"4759f746.8cc508","type":"change","z":"b697faca.f6e5f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"energy","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":320,"wires":[["1f7d452b.81121b"]]},{"id":"fe9a1bd7.2ce938","type":"ui_text","z":"b697faca.f6e5f8","group":"746f0e9a.6bec9","order":1,"width":0,"height":0,"name":"","label":"Voltage:","format":"{{msg.voltage}}V","layout":"row-center","x":640,"y":420,"wires":[]},{"id":"26ea5360.61148c","type":"ui_text","z":"b697faca.f6e5f8","group":"746f0e9a.6bec9","order":2,"width":0,"height":0,"name":"","label":"Current:","format":"{{msg.current1}}A","layout":"row-center","x":640,"y":460,"wires":[]},{"id":"1b70c673.98a1ca","type":"ui_text","z":"b697faca.f6e5f8","group":"746f0e9a.6bec9","order":3,"width":0,"height":0,"name":"","label":"Power:","format":"{{msg.power}}W","layout":"row-center","x":630,"y":500,"wires":[]},{"id":"8af38b2a.fcac58","type":"ui_text","z":"b697faca.f6e5f8","group":"746f0e9a.6bec9","order":4,"width":0,"height":0,"name":"","label":"Energy:","format":"{{msg.energy}}KWh","layout":"row-center","x":820,"y":420,"wires":[]},{"id":"688d6e45.fb2c5","type":"ui_text","z":"b697faca.f6e5f8","group":"746f0e9a.6bec9","order":5,"width":0,"height":0,"name":"","label":"Frequency:","format":"{{msg.frequency}}Hz","layout":"row-center","x":830,"y":460,"wires":[]},{"id":"4647b9dc.c4f648","type":"ui_text","z":"b697faca.f6e5f8","group":"746f0e9a.6bec9","order":6,"width":0,"height":0,"name":"","label":"Power Factor:","format":"{{msg.pf}}","layout":"row-center","x":840,"y":500,"wires":[]},{"id":"f91210e4.4f89","type":"firebase out","z":"b697faca.f6e5f8","name":"Voltage Out","ref":"/Voltage","operation":"set","admin":"dc4270a0.0e93a","x":390,"y":380,"wires":[[]]},{"id":"302d9a7.f675466","type":"change","z":"b697faca.f6e5f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"voltage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":380,"wires":[["f91210e4.4f89"]]},{"id":"43deef6c.183c4","type":"change","z":"b697faca.f6e5f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"current1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":420,"wires":[["ffbfbb18.b53d28"]]},{"id":"15a60a25.c65a46","type":"change","z":"b697faca.f6e5f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":460,"wires":[["331bb2d2.700a3e","db804087.e356e"]]},{"id":"14785d8a.05c922","type":"change","z":"b697faca.f6e5f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"energy","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":500,"wires":[["c8191e3d.f94b2"]]},{"id":"26d5dff0.d715c","type":"change","z":"b697faca.f6e5f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"frequency","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":540,"wires":[["d70bdb0d.095c18"]]},{"id":"eb55bbb4.04eb58","type":"change","z":"b697faca.f6e5f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pf","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":580,"wires":[["aec9edd.953ed1"]]},{"id":"ffbfbb18.b53d28","type":"firebase out","z":"b697faca.f6e5f8","name":"Current Out","ref":"/Current","operation":"set","admin":"dc4270a0.0e93a","x":390,"y":420,"wires":[[]]},{"id":"331bb2d2.700a3e","type":"firebase out","z":"b697faca.f6e5f8","name":"Power Out","ref":"/Power","operation":"set","admin":"dc4270a0.0e93a","x":390,"y":460,"wires":[[]]},{"id":"c8191e3d.f94b2","type":"firebase out","z":"b697faca.f6e5f8","name":"Energy Out","ref":"/Energy","operation":"set","admin":"dc4270a0.0e93a","x":390,"y":500,"wires":[[]]},{"id":"d70bdb0d.095c18","type":"firebase out","z":"b697faca.f6e5f8","name":"Frequency Out","ref":"/Frequency","operation":"set","admin":"dc4270a0.0e93a","x":400,"y":540,"wires":[[]]},{"id":"aec9edd.953ed1","type":"firebase out","z":"b697faca.f6e5f8","name":"PF Out","ref":"/PF","operation":"set","admin":"dc4270a0.0e93a","x":380,"y":580,"wires":[[]]},{"id":"4bfa881b.3c8568","type":"function","z":"b697faca.f6e5f8","name":"RSSI to dBm","func":"msg.strength=(msg.rssi);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":260,"wires":[["17834ed2.2b66e1"]]},{"id":"bcefd13a.9bafa","type":"ui_chart","z":"b697faca.f6e5f8","name":"","group":"ac772e72.16f45","order":0,"width":0,"height":0,"label":"LoRa Signal Strength RSSI","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":180,"wires":[[]]},{"id":"17834ed2.2b66e1","type":"change","z":"b697faca.f6e5f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"strength","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":260,"wires":[["bcefd13a.9bafa"]]},{"id":"987be8e3.ff08a8","type":"ui_button","z":"b697faca.f6e5f8","name":"","group":"746f0e9a.6bec9","order":7,"width":0,"height":0,"passthru":false,"label":"Reset Graphs","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":840,"y":540,"wires":[["bcefd13a.9bafa","1f7d452b.81121b"]]},{"id":"dd0030c9.58077","type":"function","z":"b697faca.f6e5f8","name":"","func":"var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nvar dateTime = date+' '+time;\nmsg.payload=dateTime+','+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":220,"wires":[["c95a4600.a5e228","1222a2b1.786fcd"]]},{"id":"c95a4600.a5e228","type":"debug","z":"b697faca.f6e5f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":130,"y":260,"wires":[]},{"id":"1222a2b1.786fcd","type":"file","z":"b697faca.f6e5f8","name":"","filename":"data_in_csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":190,"y":620,"wires":[[]]},{"id":"ad344bcd.459a98","type":"debug","z":"b697faca.f6e5f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":40,"wires":[]},{"id":"db804087.e356e","type":"udp out","z":"b697faca.f6e5f8","name":"","addr":"192.168.1.3","iface":"","port":"1234","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":560,"y":640,"wires":[]},{"id":"44b5f04b.db8e3","type":"ui_button","z":"b697faca.f6e5f8","name":"","group":"e49d1a88.b2cd08","order":3,"width":0,"height":0,"passthru":false,"label":"Predict Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"k","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":680,"wires":[["db804087.e356e","8a66de54.244b7","f2b0ebf4.5a6eb8"]]},{"id":"8a66de54.244b7","type":"change","z":"b697faca.f6e5f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Predicting...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":720,"wires":[["bc04c7d3.3a5838"]]},{"id":"bc04c7d3.3a5838","type":"ui_text","z":"b697faca.f6e5f8","group":"e49d1a88.b2cd08","order":3,"width":0,"height":0,"name":"","label":"Predicted Point","format":"{{msg.payload}}","layout":"col-center","x":660,"y":720,"wires":[]},{"id":"249e3f67.52441","type":"mqtt in","z":"b697faca.f6e5f8","name":"","topic":"IOTProj1","qos":"2","datatype":"auto","broker":"d4f472d6.8104e","x":280,"y":760,"wires":[["bc04c7d3.3a5838","a297eb44.620de8"]]},{"id":"f2b0ebf4.5a6eb8","type":"ui_text","z":"b697faca.f6e5f8","group":"e49d1a88.b2cd08","order":3,"width":0,"height":0,"name":"","label":"Power Consumption For Today","format":"{{msg.payload}}","layout":"col-center","x":870,"y":760,"wires":[]},{"id":"a297eb44.620de8","type":"function","z":"b697faca.f6e5f8","name":"","func":"msg.payload=(msg.payload*24)/1000\nmsg.payload=msg.payload.toFixed(2)\nmsg.payload=msg.payload+\"KWh\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":780,"wires":[["f2b0ebf4.5a6eb8"]]},{"id":"e52026b3.a29158","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"c380ac9d.4109a","type":"ui_group","name":"IOT Project","tab":"13b388.6d7cec79","order":1,"disp":true,"width":"6","collapse":false},{"id":"6799256b.66a85c","type":"ui_group","name":"Energy Consumption","tab":"13b388.6d7cec79","order":2,"disp":true,"width":"6","collapse":false},{"id":"746f0e9a.6bec9","type":"ui_group","name":"Satus","tab":"13b388.6d7cec79","order":3,"disp":true,"width":"6","collapse":false},{"id":"dc4270a0.0e93a","type":"firebase admin","name":"IOT Database"},{"id":"ac772e72.16f45","type":"ui_group","name":"Signal Strength","tab":"13b388.6d7cec79","order":4,"disp":true,"width":"6","collapse":false},{"id":"e49d1a88.b2cd08","type":"ui_group","name":"Prediction","tab":"13b388.6d7cec79","order":5,"disp":true,"width":"6","collapse":false},{"id":"d4f472d6.8104e","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"13b388.6d7cec79","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]